.detail-document-block{
    background-color: grey;
    width: fit-content;
    height: 100%;
    min-height: 745px;
    color: whitesmoke;
    padding:0 20px;
}

    

.detail-document-data{
    margin-bottom: 20PX;
    text-align: center;
    font-size: 84px;
}

.detail-download-btn{
    color: coral;
    text-decoration: none;
}

.detail-document-btn{
    font-family: 'Rubik', sans-serif;
    color: coral;
    font-size: larger;
    text-align: center;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}